.logo {
    height: 170px;
    background-color: #ffffff;
    margin-left: 50px;
    position: absolute;
    top: 1px;
    left: 30px;
}

.navbar {
    min-height: 140px;
}

.navbar :link {
    font-family: 'Roboto';
    margin-left: 150px;
    font-weight: bold;
}
